body	{background: linear-gradient(to bottom, #808080 45%, #dddddd 100%);}
h1	{font-size:100px; font-family:MFEL_Beta_full,Curlz MT; color:#420B69; text-align:center;}
h2	{font-family:gabriola; font-size:90px; text-align:center;}
p1	{font-size:30px; font-family:Matura MT Script Capitals;}

div	{
	max-height:100%;
	max-width:100%;
}
header {
	padding: 1px;
    background-color: black;
    clear: left;
    text-align: center;
	border: 5px solid white;
}
footer {
    color: white;
    background-color: black;
    clear: left;
	clear:right;
    text-align: center;
	margin:165px 0 30px 0;
	padding:10px;
}

img {
	margin-top:20px;
}

nav {
    float: left;
    max-width: 260px;
    margin: 0;
}

nav ul {
    list-style-type: square;
    
}

nav li a{
	border:3px solid #9966ff;
	text-align:center;
	display:block;
	background-color:gray;
	padding: 10px;
	margin:5px; 
}
nav li a:hover{
	background-color:black;
	display:block;
	
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
	border-right: 1px solid gray;
    padding: 1em;
    overflow: hidden;
	max-width:100%;
	}

aside	{
	background-color: blue;
	border:2px solid white;
	float: right;
	max-width:300px;
}